all{
  position: relative;
}
  header { 
   height: 70px; 
   width: 100%; 
 background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}  
.header-logo{
  padding:5px 0px 15px 20px;
  float:left;

}
.header-right {
  float: right;
  margin-right: 5px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
 .top-wrapper {
  padding: 100px 0 5px 10px;
  margin-left:10px;
  background-size: cover;
  color: black;
  text-align: left;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  border-bottom: #55acee solid;
  display: inline-block;
  padding-left:30px;
}

.top-wrapper p {
  opacity: 0.7;
  border-bottom: #55acee solid;
}

.btn-wrapper {
  text-align: left;
  margin-bottom:10px;
}

.btn-wrapper p {
  margin: 10px 0;
}


.correct {
  border: 2px solid #006DD9;
} 

 .miss {
  border: 2px solid salmon;
} 

.next {
  background-color: #bb6120;
  margin-left:100px;
}

.btn {
  padding: 10px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  text-align: left;
}

.btn:hover {
  opacity: 1;
}
.main-right{
  padding-top:5px;
  float:right;
  height:100%;
  width:80%;
}
.index{
  background-color: #55acee;
  float: left;
  height:100%;
  width:20%;
}
.main{
  position: absolute;
  top:70px;
  width:100%;
  height:700px;
}

/* .check{
  background-color:pink;
  height: 150px;
  padding:15px 20px 30px 20px; 
} */
.hidden-disp {
  margin: 2em 0;
  padding-left: 20px;
  text-align: left;
}
.answer {
  padding: 15px;
  font-weight: bold;
  background: greenyellow;
  border-radius: 5px;
  cursor :pointer;
  transition: .5s;
}
/* .answer{ */
  /* display:inline-block; */
  /* cursor:pointer; */
  /* background-color: #55a822; */
/* } */
.hidden-disp label:before {
  display: inline-block;
  content: '\f078';
  font-family: 'FontAwesome';
  padding-right: 5px;
  transition: 0.2s;
}
.hidden-disp input:checked ~ label:before {
  content: '\f00d';
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #668ad8;
}
.hidden-disp label:hover {
  background: silver;
}
.hidden-disp input {
  display: none;
} 
.hidden-disp .check {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.hidden-disp input:checked ~ .check {
  padding: 10px 0;
  height: auto;
  opacity: 1;
} 
.title{
  float:left;
  padding-top:5px;
  padding-left:30px;
}
.title h1{
  border-bottom: #55acee solid;
}
.main-right h1{
  font-size: 45px;
}
.check-left{
  float:left;
  width:70%;
}
.check-right{
float:left;
  width:80%;
}
.check-right h1{
  text-align: left;
  margin-left:0px;
  border-bottom: #bb6120 solid;
  margin-right: 10px;
  display: inline-block;
}
.que-right{
width:70%;
height:700px;
float: right;
margin-top: 0;
}
input[type=radio] {
display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
background: violet;/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.aa:hover {
    background-color:lightgray; /* マウスオーバー時の背景色を指定する */
    }
    .aa {
      display: block; /* ブロックレベル要素化する */
      float: left; /* 要素の左寄せ・回り込を指定する */
      margin-right:10px;
      margin-bottom:10px;
      width: 100px; /* ボックスの横幅を指定する */
      height: 45px; /* ボックスの高さを指定する */
      padding-right: 5px; /* ボックス内御右側の余白を指定する */
      color: #b20000; /* フォントの色を指定 */
      text-align: center; /* テキストのセンタリングを指定する */
      line-height: 45px; /* 行の高さを指定する */
      cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
      border-radius: 5px; /* 角丸を指定する */
          }all{
    position: relative;
}
    header { 
     height: 70px; 
     width: 100%; 
   background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }  
  .header-logo{
    padding:5px 0px 15px 20px;
    float:left;

  }
  .header-right {
    float: right;
    margin-right: 5px;
  }
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
   .top-wrapper {
    padding: 100px 0 5px 10px;
    margin-left:10px;
    background-size: cover;
    color: black;
    text-align: left;
  }
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    border-bottom: #55acee solid;
    display: inline-block;
    padding-left:30px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    border-bottom: #55acee solid;
  }
  
  .btn-wrapper {
    text-align: left;
    margin-bottom:10px;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
 
  
  .correct {
    border: 2px solid #006DD9;
  } 
  
   .miss {
    border: 2px solid salmon;
  } 

  .next {
    background-color: #bb6120;
    margin-left:100px;
  }

  .btn {
    padding: 10px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 5px;
    text-align: left;
  }
  
  .btn:hover {
    opacity: 1;
  }
.main-right{
    padding-top:5px;
    float:right;
    height:100%;
    width:80%;
}
.index{
    background-color: #55acee;
    float: left;
    height:100%;
    width:20%;
}
.main{
    position: absolute;
    top:70px;
    width:100%;
    height:700px;
}

/* .check{
    background-color:pink;
    height: 150px;
    padding:15px 20px 30px 20px; 
} */
.hidden-disp {
    margin: 2em 0;
    padding-left: 20px;
    text-align: left;
}
.answer {
    padding: 15px;
    font-weight: bold;
    background: greenyellow;
    border-radius: 5px;
    cursor :pointer;
    transition: .5s;
}
/* .answer{ */
    /* display:inline-block; */
    /* cursor:pointer; */
    /* background-color: #55a822; */
/* } */
.hidden-disp label:before {
    display: inline-block;
    content: '\f078';
    font-family: 'FontAwesome';
    padding-right: 5px;
    transition: 0.2s;
}
.hidden-disp input:checked ~ label:before {
    content: '\f00d';
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #668ad8;
}
.hidden-disp label:hover {
    background: silver;
}
 .hidden-disp input {
    display: none;
} 
.hidden-disp .check {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
 .hidden-disp input:checked ~ .check {
    padding: 10px 0;
    height: auto;
    opacity: 1;
} 
.title{
    float:left;
    padding-top:5px;
    padding-left:30px;
}
.title h1{
    border-bottom: #55acee solid;
}
.main-right h1{
    font-size: 45px;
}
.check-left{
    float:left;
    width:70%;
}
.check-right{
  float:left;
    width:80%;
}
.check-right h1{
    text-align: left;
    margin-left:0px;
    border-bottom: #bb6120 solid;
    margin-right: 10px;
    display: inline-block;
}
.que-right{
  width:70%;
  height:700px;
  float: right;
  margin-top: 0;
}
input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
background: violet;/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .aa:hover {
      background-color:lightgray; /* マウスオーバー時の背景色を指定する */
      }
      .aa {
        display: block; /* ブロックレベル要素化する */
        float: left; /* 要素の左寄せ・回り込を指定する */
        margin-right:10px;
        margin-bottom:10px;
        width: 100px; /* ボックスの横幅を指定する */
        height: 45px; /* ボックスの高さを指定する */
        padding-right: 5px; /* ボックス内御右側の余白を指定する */
        color: #b20000; /* フォントの色を指定 */
        text-align: center; /* テキストのセンタリングを指定する */
        line-height: 45px; /* 行の高さを指定する */
        cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
        border-radius: 5px; /* 角丸を指定する */
            }